#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: changeBackground 50s linear infinite; /* Adjust timing here */
}

@keyframes changeBackground {
  0% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.9)), url('../public/background1.jpg');
  }
  25% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.9)), url('../public/background2.jpg');
  }
  50% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.9)), url('../public/background3.jpg');
  }
  75% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.9)), url('../public/background4.jpg');
  }
  100% {
    background-image: linear-gradient(rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.9)), url('../public/background5.jpg');
  }
}